# Server Configuration
#---------------------
DOMAIN = https://yourdomain.com
PORT=3000

# Database Configuration
#-----------------------
DATABASE_URL = your_database_url
DATABASE_NAME = test_db

# Authentication and Security Configuration
#------------------------------------------
JWT_SECRET_KEY = my_jwt_secret_key_string

# Email Configuration
#--------------------
EMAIL = your_service_email
EMAIL_PASS = your_service_email_password